<%- include('./partials/head.ejs') %>

<main>
  <h1 class="FDND">FDND</h1>
  <h2 class="explanation"><%= squad.name %> is de beste squad van de opleiding!!</h2>
  <h3 class="chosen-hobby">Kies een hobby!</h3>
   
  
  <a class="button-left button-sport button-link" href="/sport">
    <img class="hobby" src="/sport.png" alt="sport"/>
    <p class="button-text">Sport</p>
  </a>


  <a class="button-right button-gaming button-link" href="/gamen">
    <img class="hobby" src="/games.png" alt="games"/>
    <p class="button-text">Gamen</p>
  </a>


  <a class="button-left button-music button-link" href="/muziek">
    <img class="hobby" src="/music.png" alt="music"/>
    <p class="button-text">Muziek</p>
  </a>


  <a class="button-right button-social button-link" href="">
    <img class="hobby" src="/social.png" alt="social"/>
    <p class="button-text">Sociaal</p>
  </a>


  <a class="button-left button-read button-link" href="">
    <img class="hobby" src="/books.png" alt="books"/>
    <p class="button-text">Lezen</p>
  </a>


  <a class="button-right button-laptop button-link" href="">
    <img class="hobby" src="/laptop.png" alt="laptop"/>
    <p class="button-text">FDND</p>
  </a>

    
</main>

<%- include('./partials/foot.ejs') %>
