* {
  box-sizing: border-box;
  margin: 0;
}
body {
  width: 100%;
  height: 100vh;
  font-family: Helvetica, Arial, sans-serif;
  background: #101010;
}


/* ik wil deze hele grid gaan aanpassen zodat die niet meer zo specifiek is
een grid zoals dit: https://gridbyexample.com/examples/example1/
hierdoor word de layout gewoon gemaakt en worden de blokken gewoon gevuld */

/* main eigenschappen h1, h2 & h3 */
main{
  margin-top: 2rem;
  /* overflow:hidden; */
}
.FDND, .explanation{
  color: white;
  margin-left: 2rem;
  margin-right: 2rem;
  text-decoration: none;
}
main > h3{
  color: hotpink;
  margin-left: 2rem;
}
.chosen-hobby{
  color:hotpink;
}
/* voor kleinere telefoons 1 button per row */
.grid-container{
  width: 100%;
  margin-top: 2rem;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
}



/* images in the buttons */
.hobby, article > img{
  height: 6rem;
}





/* buttons */

a.button-link{
  position: relative;
  width: 80%;
  min-width: 9.5rem;
  min-height: 9.5rem;
  background: linear-gradient(#050542,#66E5BF);
  border-radius: 1rem;
  border: 2px solid #66E5BF; 
}
.button-left{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
}
.button-right{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
}

/* onzichtbare tekst, komt pas bij mediaquery tevoorschijn */
/* mobile modeee */
p.button-text{
  display:none;
}
.button-text, p.button-text{
  display: none;
}






/* hieronder specifiek voor sport.ejs */

.grid-container-hobby{
  width: 100%;
  margin-top:1rem;
  row-gap: 1rem;
  display: flex;
  flex-direction:column;
  justify-items: center;
  align-items: center;
}

/* articles */
article > img{
  width:6rem;
  border-radius: 50%;
  margin-top: 1rem;
}
.members-grid-container{
  width:100%;
  margin-top:2rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
  justify-items: center;
}
article {
  position: relative;
  width: 80%;
  height: 18rem;
  min-width: 9.5rem;
  background: linear-gradient(#050542,#66E5BF);
  border-radius: 1rem;
  border: 2px solid #66E5BF; 
  display:grid;
  justify-items: center;
  align-content:flex-start;
}
.article-h2{
  /* width:50%; */
  margin-top: 1rem;
}

.github-link > img{
  margin-top: 2rem;
  max-width: 3rem;
}



/* footer */
footer{
  height:2rem;
}






/* mediaqueries */

/* iphone SE */
@media screen and (min-width: 375px){
 
.grid-container{
    width: 100%;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}

  a.button-link, article {
    position: relative;
    width: 9.5rem;
    min-width: 9.5rem;
    min-height: 9.5rem;
    background: linear-gradient(#050542,#66E5BF);
    border-radius: 1rem;
    border: 2px solid #66E5BF; 
  }

  .button-left{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: flex-end;
  }
  .button-right{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: flex-start;
  }


  /* de articles op sport.ejs */


article > img{
  width:6rem;
  border-radius: 50%;
  margin-top: 1rem;
}
/* .members-grid-container{
  width:100%;
  margin-top:2rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
  justify-items: center;
} */
.members-grid-container{
  width: 100%;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0rem;
}
article {
  position: relative;
  width: 90%;
  height: 18rem;
  min-width: 9.5rem;
  background: linear-gradient(#050542,#66E5BF);
  border-radius: 1rem;
  border: 2px solid #66E5BF; 
  display:grid;
  justify-items: center;
  align-content:flex-start;
  margin-bottom: 1rem;
}
}












  


@media screen and (min-width: 830px){

     main{
      display: flex;
      flex-direction: column;
    } 
   .grid-container{
    width: 70%;
    justify-content: center;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }

  a.button-link, article {
    position: relative;
    width: 9.5rem;
    min-width: 9.5rem;
    min-height: 9.5rem;
    background: linear-gradient(#050542,#66E5BF);
    border-radius: 1rem;
    border: 2px solid #66E5BF; 
  }

  .button-left{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: flex-end;
  }
  .button-right{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: flex-start;
  }


  /* deze namen kloppen alleen op mobile-first */
  .button-left{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
  }
  .button-right{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
  }



  a.button-link{
    width: 100%;
    height: 12rem;
  }
 
  p.button-text{
    display: grid;
    font-size: 3rem;
    color:white;
    justify-content: center;
    align-content:center;
    width: 100%;
    height: 100%;
  }

  /* deze maakt de tekst invisible */
  a.button-link > .button-text {
    position:absolute;
    opacity: 0;
    visibility: hidden;
    transition: opacity 400ms, visibility 0ms 400ms;
  }

  .button-link:hover > p.button-text{
    background: rgba(0, 0, 0, 0.9);
    position: absolute;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    visibility: visible;
    opacity:1;
    transition: opacity 400ms;
    align-content: center;
    justify-content: center;
  }





/* tekst bovenin */
  .FDND{
    color: white;
    margin-left: 2rem;
    margin-right: 0rem;
    justify-self: flex-start;
    
  }
  .explanation{
    color: white;
    margin-left: 0rem;
    margin-right: 0rem;
    margin-top: 2rem;
    width:70%;
    align-self:center;
    justify-self: flex-start;
  }

  main > h3{
    color: hotpink;
    margin-left: 0rem;
    width:70%;
    align-self:center;
    justify-self: flex-start;
  }


  /* hieronder voor sport.ejs */

  .grid-container-hobby{
    flex-direction: row;
    margin-left:2.5rem;
    width:80%;
    align-self: center;
  }

  article > img{
    width:6rem;
    border-radius: 50%;
    margin-top: 1rem;
  }
  /* .members-grid-container{
    width:100%;
    margin-top:2rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    justify-items: center;
  } */
  .members-grid-container{
    width: 80%;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0rem;

    align-self:center;
    justify-self: flex-start;
  }
  article {
    position: relative;
    width: 90%;
    height: 18rem;
    min-width: 9.5rem;
    background: linear-gradient(#050542,#66E5BF);
    border-radius: 1rem;
    border: 2px solid #66E5BF; 
    display:grid;
    justify-items: center;
    align-content:flex-start;
    margin-bottom: 1rem;
  }
}



















/* groter scherm desktop */
@media screen and (min-width: 1200px){
  .button-text{
    display: grid;
    font-size: 4rem;
    color:white;
  }

 
}


/* nog groter scherm desktop */
@media screen and (min-width: 1400px){
  .button-text{
    display: grid;
    font-size: 5rem;
    color:white;
  }
}









































































/* 

main section{
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
  justify-content: center;
  margin-top: 2rem;
} */


/* 

.articles{
  display:none;
  flex-flow: row wrap;
  gap: 0.5rem;
  justify-content: center;
}
article h2{
  color: black;
}
article, button {
  position: relative;
  width: 9.5rem;
  height: 9.5rem;
  padding: 1rem;
  text-align: center;
  background: linear-gradient(#050542,#66E5BF);
  border-radius: 1rem;
  border: 2px solid #66E5BF; */
  /* flex-grow: 1; */
/* }

article h2 {
  font-size: 1rem;
  font-weight: normal;
}

article img {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}
 */

/* return button footer */

/* .return{
  display: none;
  border:none;
  background: none;
} */





/* mediaqueries */

/* desktop versie */

/* ik wil dit netjes gaan proberen op te lossen met grid */
/* het werkt nog niet zoals ik wil, maar door er aanpassingen mee te maken moet het goedkomen */

/* @media screen and (min-width: 630px){
  main section{
    display: grid;
   
  }
  
  main {
    display: grid;
    grid-template-columns: 0.8fr 1.2fr 1.2fr 1.2fr 0.8fr;
    grid-template-rows: 1fr 1.2fr 1.2fr 0.9fr;
    gap: 16px;
  }
  
  .FDND {
    grid-area: 1 / 1 / 2 / 2;
  }
  
  .explanation {
    grid-area: 1 / 2 / 2 / 5;
  }
  
  .button-sport {
    grid-area: 2 / 2 / 3 / 3;
  }
  
  .button-gaming {
    grid-area: 2 / 3 / 3 / 4;
  }
  
  .button-music {
    grid-area: 2 / 4 / 3 / 5;
  }
  
  .button-social {
    grid-area: 3 / 2 / 4 / 3;
  }
  
  .button-read {
    grid-area: 3 / 3 / 4 / 4;
  }
  
  .button-laptop {
    grid-area: 3 / 4 / 4 / 5;
  }
  
  .chosen-hobby {
    grid-area: 1 / 5 / 2 / 6;
  }
  
  section {
    grid-area: 2 / 2 / 4 / 5;
  }
  
  
}



 */
